# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

######## rust
# Ignore Cargo output for the Rust code in bandersnatch_ffi
src/bandersnatch_ffi/target/

# Cargo lock file - if you're building a library you might want to ignore it.
src/bandersnatch_ffi/Cargo.lock

# Optional: Ignore backup files and editor temporary files in the Rust code.
src/bandersnatch_ffi/**/*.rs.bk
src/bandersnatch_ffi/**/*~ 
src/bandersnatch_ffi/.DS_Store

# Ignore any generated documentation.
src/bandersnatch_ffi/target/doc/

# Optionally, ignore build scripts output
src/bandersnatch_ffi/build/

# If using rustfmt, ignore rustfmt configuration if it's generated.
src/bandersnatch_ffi/rustfmt.toml

######## Build outputs
# Compiled binaries
bin/
build/
dist/

# Profiling outputs
*.prof
cpu.prof
mem.prof
trace.out

# OS files
.DS_Store
