[submodule "graypaper"]
	path = graypaper
	url = https://github.com/gavofyork/graypaper.git
[submodule "jam-test-vectors"]
	path = jam-test-vectors
	url = git@github.com:davxy/jam-test-vectors.git
[submodule "jam-conformance"]
	path = jam-conformance
	url = https://github.com/davxy/jam-conformance.git
[submodule "jam-docs"]
	path = jam-docs
	url = https://github.com/JamBrains/jam-docs
